body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url(https://images.unsplash.com/photo-1629605926577-5892be6f58a4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

header {
    background-color: #7376ff;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
    position: static;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#game-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.answer-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: aqua;
    background-color: black;
}

#zoom-controls {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#zoom-controls button {
    margin: 0px;
    padding: 0px;
}

/* Footer styles */
footer {
    background-color: #1a73d8;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    position: relative;
}

